@model AppUser

<section class="mucho-margin-top">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla malesuada accumsan felis non cursus. Quisque.</p>
</section>

<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        <a asp-controller="Admin" asp-action="Index">
            <div class="card text-blue bg-dark">
                <img class="card-img-top" src="~/imgs/group-users.png" />
                <div class="card-body">
                    <h5 class="card-title">Users</h5>
                    <p class="card-text">
                        Allows you to see all of the users stored in the IdentityDB
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="col">
        <a asp-controller="Claims" asp-action="Index">
            <div class="card text-blue bg-dark">
                <img class="card-img-top" src="~/imgs/claims.png" />
                <div class="card-body">
                    <h5 class="card-title">Claims</h5>
                    <p class="card-text">
                        Allows you to see all of the claims associated with a particular user
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="col">
        <a asp-controller="Role" asp-action="Index">
            <div class="card text-blue bg-dark">
                <img class="card-img-top" src="~/imgs/roles.png" />
                <div class="card-body">
                    <h5 class="card-title">All Roles</h5>
                    <p class="card-text">
                        Allows you to see all of the roles
                    </p>
                </div>
            </div>
        </a>
    </div>
</div>

@*<div class="cards">
    <table>
        <tr>
            <td>
                <a asp-controller="Admin" asp-action="Index">
                    <div class="card">
                        <img src="https://img.icons8.com/external-itim2101-blue-itim2101/64/000000/external-admin-network-technology-itim2101-blue-itim2101-1.png" />
                        <div class="card-body">
                            <h3>Admin</h3>
                        </div>
                    </div>
                </a>
            </td>
            <td>
                <div class="card">
                    <a asp-controller="Claims" asp-action="Index">
                        <img src="https://img.icons8.com/external-icongeek26-outline-colour-icongeek26/64/000000/external-users-due-diligence-icongeek26-outline-colour-icongeek26.png" />
                        <div class="card-body">
                            <h3>Claims</h3>
                        </div>
                    </a>
                </div>
            </td>
            <td>
                <div class="card">
                    <a asp-controller="Role" asp-action="Index">
                        <div class="card-body">
                            <img src="https://img.icons8.com/external-kiranshastry-gradient-kiranshastry/64/000000/external-users-cyber-security-kiranshastry-gradient-kiranshastry-1.png" />
                            <h3>All Roles</h3>
                        </div>
                    </a>
                </div>
            </td>
        </tr>
    </table>
</div>
*@
<div>
    <br />
    <a href="https://icons8.com/icon/TLngp4XaOZxj/users">Users icon by Icons8</a>
</div>


