@model AppUser

<section class="m-2">
    <p>An ASP.NET Core MVC Identity Demo - illustrating the different controllers and options for authentication and authorization.</p>
</section>

<div class="bg-dark">
    <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        <a asp-controller="Admin" asp-action="Index">
            <div class="card text-blue bg-dark">
                <img class="card-img-top" src="~/imgs/group-users.png" />
                <div class="card-body">
                    <h5 class="card-title">Users</h5>
                    <p class="card-text">
                        Allows you to see all of the users stored in the IdentityDB
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="col">
        <a asp-controller="Claims" asp-action="Index">
            <div class="card text-blue bg-dark">
                <img class="card-img-top" src="~/imgs/claims.png" />
                <div class="card-body">
                    <h5 class="card-title">Claims</h5>
                    <p class="card-text">
                        Allows you to see all of the claims associated with a particular user
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="col">
        <a asp-controller="Role" asp-action="Index">
            <div class="card text-blue bg-dark">
                <img class="card-img-top" src="~/imgs/roles.png" />
                <div class="card-body">
                    <h5 class="card-title">All Roles</h5>
                    <p class="card-text">
                        Allows you to see all of the roles
                    </p>
                </div>
            </div>
        </a>
    </div>
</div>
</div>




