
@{
    Layout = "_LayoutsDemo";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <h1>Sample Page using the Home Index View</h1>
</body>
</html>
